<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/about.css}"/>
</head>
<body>

<!-- navbar frag -->
<div th:replace="~{nav/navbar :: navbarFrag}"></div>

<!-- About Content -->
<div class="container">
    <h1>About Us</h1>
    <!--static root = localhost:8081-->
    <img th:src="@{/images/aboutUs.jpg}" alt="About Us Image">
    <p>
        Welcome to our website! We are passionate about delivering quality content and services.
        Our team is dedicated to continuous improvement and customer satisfaction. Whether you’re
        here to learn more about us or to explore what we offer, we’re glad to have you on board.
    </p>
</div>

<!--aboutDescription.html frag-->
<div th:insert="~{text/aboutDescription :: AboutDescriptionFrag}"></div>

</body>
</html>