<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>

<!-- navbar frag -->
<div th:replace="~{nav/navbar :: navbarFrag}">...</div>

<div class="login-container">
    <h1>Login</h1>

    <!--rendered messages using query param: error, logout, register-->
    <!--error=true-->
    <div class="error-message" th:if="${param.error}">
        Invalid Email or Password
    </div>
    <!--logout=true-->
    <div class="logout-message" th:if="${param.logout}">
        You have logged out successfully
    </div>
    <!--register=true-->
    <div class="logout-message" th:if="${param.register}">
        Your registration is successful <br>
        Please login to continue.
    </div>

    <!--Form content-->
    <!--When Spring Security is enabled (which it usually is in a login flow), it automatically configures /login POST to be handled by the UsernamePasswordAuthenticationFilter-->
    <form th:action="@{/login}" method="post">
        <!--By default, Spring Security’s /login handler expects username and password-->
        <input type="text" name="username" placeholder="Email" required/>
        <input type="password" name="password" placeholder="Password" required/>

        <!--generating csrf token-->
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

        <button type="submit">Login</button>
        <button type="button" th:onclick="|window.location.href='@{/public/register}'|">Register</button>
        <!--The pipes |...| are Thymeleaf’s literal substitution syntax. Everything between the pipes is interpreted literally, except for expressions like @{...}-->
    </form>
</div>

<!--loginDescription.html-->
<div th:insert="~{text/loginDescription :: loginDescriptionFrag}"></div>

</body>
</html>