<!-- 導覽列的 Thymeleaf fragment -->
<!-- 啟用 Thymeleaf Spring Security 屬性（xmlns:sec） -->
<div th:fragment="navbarFrag" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="navbar">
        <div class="nav-left">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/about}">About</a>
            <a th:href="@{/news}">News</a>
            <a th:href="@{/contact}">Contact</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/dashboard}" style="color: #91a886;">Dashboard</a>
            <!-- 只在使用者已登入時渲染 -->
        </div>
        <div class="nav-right">
            <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            <!-- 只在使用者「未登入」時渲染 -->
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
            <!-- <a> 送出的是 GET /logout；Spring Security 預設處理 POST /logout -->

            <!-- 此為 Spring Security 官方推薦（POST /logout）的做法 -->
            <!--<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            <button type="submit">Logout</button>
            </form>-->
        </div>
    </div>
</div>
