<!--thymeleaf fragment for navbar-->
<!--enable thymeleaf security attributes-->
<div th:fragment="navbarFrag" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="navbar">
        <div class="nav-left">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/about}">About</a>
            <a th:href="@{/news}">News</a>
            <a th:href="@{/contact}">Contact</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/dashboard}" style="color: #91a886;">Dashboard</a>
            <!--Rendering only if the user is authenticated.-->
        </div>
        <div class="nav-right">
            <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
            <!--Rendering only if the user is NOT authenticated.-->
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
            <!--<a> tag sends a GET request to /logout while Spring Security handles /logout as a POST request-->

            <!--this way allows Spring Security to take over /logout via Post request-->
            <!--<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            <button type="submit">Logout</button>
            </form>-->
        </div>
    </div>
</div>
